body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Poppins - sans-serif;
}
.nav{
	width: 20vh;
	height: 21.8vh;
	background-color: #222;
	display: block;
	position: fixed;

}
.nav img{
	display: block;
	width: 20vh;
	opacity: 0.5;
}
.nav a{
	text-decoration: none;
	background-color: #222;
	display: block;
	padding: 40px;
	text-align: center;
}
.nav a i {
	font-size: 20px;
	color: #fff;
	margin: 0px auto;
}
.nav a p {
	font-family: monserrat, sans-serif;
	margin: 12px 0px;
	color: #fff;
	align-items: center;
}
.nav a:hover{
	background-color: #111;
}
#main{
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #000;
}
#main img{
	width: 900px;
	display: block;
	position: relative;
	left: 50vh;
}
.home{background-color: #000;}
#main .about{
	display: block;
	width: 90%;
	position: relative;
	left: 20vh;
	background-color:#000; 
}
#main .about h3,p{
	margin-left:27.4vh;
}
#main .about h3{
	margin-top:0px;
	padding: 50px 20px 0px 20px;
	font-size: 30px;
	letter-spacing: 4px;
	word-spacing: 10px;
	color: #fff;
}
#main .about p{
	margin-top: 0px;
	width: 900px;
	color: rgb(226,226,226);
	letter-spacing: 2px;
	padding: 20px;
	text-align: justify;
	line-height: 40px;
	color: rgba(255,255,255,0.6);
	font-size: 16px;
}
.level{
	width: 900px;
	height:30px;
	background-color: #fff;
	position: relative;
	left: 30vh;
}
.partners{
	margin:50px 0px 20px 0px;
}
.partners ul{
	width: 860px;
	height: 135px;
	position: relative;
	left: 30vh;
	background-color: #fff;
}
.partners ul li{
	list-style: none;
	display: inline-block;
	padding: 45px 55px 45px 55px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.btndown
{
	margin:40px 0px 40px 0px;
	position: relative;
	left: 30vh;
}
.btndown button{
	width: 200px;
	height: 50px;
	background-color: #fff;
	border: none;
	font-size: 16px;
}
.btndown button:hover{
	opacity: 0.8;
}
.myprice{
	width: 100%;
	position: relative;
	left: 30vh;
	height: 700px;
	background-color: #000;
}
#about .myprice h3{
	margin-left: -20px;
}

#main #about .myprice ul{
	margin-right: 20px;
	width: 440px;
	background-color: #000;
	text-align: center;
	padding: 0px;
	opacity: 0.4;
	float: left;
}
#main #about .myprice ul:hover{
	opacity: 1;
}
#main #about .myprice ul li{
	margin-left: 0px;
	padding: 20px;
	display: block;
	list-style: none;
	background-color: #fff;
	font-size: 16px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	font-weight: bold;
}
#main #about .myprice .title{
	background-color: #555;
	color: #fff;
	font-size: 30px;
	text-align: center;
}
#main #about .myprice .signup{
	background-color: #ebebe0;
	border-bottom: none;
}
#main #about .myprice .signup button{
	width: 100px;
	height: 40px;
	border: none;
}
#main #about .myprice .signup button:hover{
	background-color: #000;
	color: #fff;
}
#contact{
	display: block;
	width: 90%;
	position: relative;
	left: 20vh;
	background-color:#000; 
}

#contact h3{
	margin-left:30vh;
	font-size: 30px;
	letter-spacing: 4px;
	word-spacing: 10px;
	color: #fff;
}
#contact ul li{
	list-style: none;
	color: rgba(255,255,255,0.6);
	margin-left:25vh;
	padding: 20px 0px;
	letter-spacing: 2px;
}
#contact ul li i{
	font-size: 30px;
	margin-right: 10px;
	color: #fff;
}
#contact p{
	margin-top: 0px;
	width: 900px;
	color: rgb(226,226,226);
	letter-spacing: 2px;
	padding: 20px;
	text-align: justify;
	line-height: 40px;
	color: rgba(255,255,255,0.6);
	font-size: 16px;
}
#contact input{
	margin-left:30vh;
	width: 900px;
	height: 50px;
	margin-top: 20px;
	font-size: 20px;
}
#contact button{
	margin-top: 20px;
	margin-left:30vh;
	width: 200px;
	height: 50px;
	font-size: 16px;
}
#contact button:hover{
	opacity: 0.8;
}
#footer{
	margin-top: 0px;
	width: 90%;
	height: 150px;
	background-color:#000; 
	display: block;
	position: relative;
	left: 19.7vh;
}
